body *{
    font-family: 'Open Sans', sans-serif;
}
.image-img img {    
    max-width: 150px;
}
.container-slider {
    max-width: 900px;
    margin: 0 auto;
}

.image-img {    
    width: 250px!important;
    height: 250px;
    max-width: 100%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.container-search, .container-chart {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.container-search h1 {
    margin: 0;
}

.container-chart.loaded{
    display: block;
}

.container-chart {
    display: none;
}

.search {
    margin: 20px auto;
    max-width: 400px;
}

.search input {
    width: 60%;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
}

.search button {
    padding: 10px 15px;
    font-size: 14px;
    background: #4285f4;
    border: none;
    margin-left: 15px;
    color: #fff;
    border-radius: 5px;
}